a{
	text-decoration:none;
}

h1,h2{
	font-size:14px;
}




body{
	width: 100%;
	height: auto !important;
	height: 100%;	
	font-family: Arial;
}
@media (min-width: 1440px){
body{
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
}

header{
	background-color: #f7fcff;
	height: 80px;
	width: 1440px;
	color: #828690;	
}

header nav div{
	font-size: 30px;
	padding-top: 1.4%;
	padding-left: 17.1%;
	padding-right: 35.4%;
	float:left;
}
header nav a{
	display: inline-block;
	font-size: 13px;
	padding-right: 2.1%;
	padding-top: 2.4%;
}
header nav a:last-child{
	color: white;
	padding: 15px 37px 10px 37px;
	background-color: #0fbfdf;
	border-radius: 20px;
}


main{
	background-color: aqua;
	height: 2050px;
	width: 1440px;
}

main article{
	overflow: hidden;
}

main article:nth-of-type(1){
	background-image: url(../img/Main-first-img.png);
	height: 600px;
	overflow: hidden;
}

main article:nth-of-type(1) h1{
	color: white;
	text-align: center;
	font-size: 44px;
	margin-top: 395px;
}
main article:nth-of-type(1) h1::before, main article:nth-of-type(1) h1::after{
	color: white;
	content: "★";
	vertical-align: middle;
	font-size: 17px;
	padding: 16px;
}

main article:nth-of-type(1) section{
	text-align: center;
	color:white;
	width: 55%;
	padding-left: 305px;
	font-size: 20px;
}

main article:nth-of-type(2){
	height: 250px;
	background-color: #fffeff;
}
main article:nth-of-type(2) h1{
	color: #0fbfdd;
	text-align: center;
	font-size: 44px;
	margin-top: 60px;
}

main article:nth-of-type(2) section{
	text-align: center;
	color:#47494d;
	width: 55%;
	padding-left: 309px;
	font-size: 20px;
}
main article:nth-of-type(3){
	height: 600px;
	background-color: #0fbfdf;
}
main article:nth-of-type(3) h1{
	color: #fffeff;
	text-align: center;
	font-size: 44px;
	margin-top: 50px;
}
main article:nth-of-type(3) section{
	color: #fffeff;
	text-align: center;
	height: 150px;
	width: 200px;
	float: left;
	margin-top: 70px;
	margin-left:20px;
	padding-top: 150px;
}
main article:nth-of-type(3) section:nth-of-type(1){
	background: url(../img/face-one.png) no-repeat 50% 0%;
	margin-left:395px;
}
main article:nth-of-type(3) section:nth-of-type(2){
	background: url(../img/face-two.png) no-repeat 50% 0%;
}
main article:nth-of-type(3) section:nth-of-type(3){
	background: url(../img/face-three.png) no-repeat 50% 0%;
}


main article:nth-of-type(4){
	height: 600px;
}
main article:nth-of-type(4) iframe{
	width: 1440px;
	height: 600px;
}




footer{
	height: 120px;
	width: 1440px;
	background-color: #46484e;
}

footer article{
	width:1000px;
	margin-left: 249px;
	padding-top: 30px;
}
footer article section:nth-of-type(1){
	color: #d9dde5;
	padding-bottom: 48px;
	border-bottom: 1px solid #74767c;
	font-size: 14px;	
}
footer article section a{
	display: inline-block;
}
footer article section:nth-of-type(1) a{
	margin-right: 36px;
	float: left;
}
footer article section:nth-of-type(1) a:nth-of-type(4){
	background: url(../img/Circle.png) no-repeat center,
				url(../img/Icon-post.png) no-repeat 50% 50%;
	margin-left: 522px;
	margin-right: 10px;
	margin-top: -11px;
	height: 40px;
	width: 40px;
}
footer article section:nth-of-type(1) a:nth-of-type(5){
	background: url(../img/Circle.png) no-repeat center,
				url(../img/Icon-facebook.png) no-repeat 50% 50%;
	margin-right: 10px;
	margin-top: -11px;
	height: 40px;
	width: 40px;
}
footer article section:nth-of-type(1) a:nth-of-type(6){
	background: url(../img/Circle.png) no-repeat center,
				url(../img/Icon-twitter.png) no-repeat 50% 50%;
	height: 40px;
	margin-right: 10px;
	margin-top: -11px;
	width: 40px;
}

footer article section:nth-of-type(2){
	color: #74767c; 
}

footer article section:nth-of-type(2) a{
	font-size: 13px;
	color: #73757b;
}
footer article section:nth-of-type(2) a:nth-of-type(1){
	width: 94px;
	margin-left: 545px;
	margin-top: 14px;
	border-right: 1px solid;
}
footer article section:nth-of-type(2) a:nth-of-type(2){
	width: 150px;
	border-right: 1px solid;
	text-align: center;
}

